$btn-font-color: #fff;
$outline-button-color: #efe;

.ad-btn {
	border: 0;
	border-radius: 35px;
	font-size: 16px;
	height: 35px;
	padding: 0 20px;
	&:disabled {
		cursor: not-allowed;
		opacity: 0.7;
	}
	&:hover {
		opacity: 0.7;
	}
	&.ad-btn-danger {
		background-color: $danger-color;
		color: $btn-font-color;
	}
	&.ad-btn-info {
		background-color: $info-color;
		color: $btn-font-color;
	}
	&.ad-btn-primary {
		background-color: $primary-color;
		color: $btn-font-color;
	}
	&.ad-btn-success {
		background-color: $success-color;
		color: $btn-font-color;
	}
	&.ad-btn-warning {
		background-color: $warning-color;
		color: $btn-font-color;
	}
	&.ad-btn-black {
		background-color: $black-color;
		color: $btn-font-color;
	}
	&.ad-btn-gray {
		background-color: $gray-color;
		color: $btn-font-color;
	}
	&.ad-btn-light-gray {
		background-color: $light-gray-color;
		color: $btn-font-color;
	}
	&.ad-btn-outline {
		background-color: $outline-button-color;
		color: $info-color;
		border: solid 1px $info-color;
	}
}

@media (max-width: 1024px) {
	.ad-btn {
		font-size: 12px;
		height: 35px;
	}
}

@media (max-width: 768px) {
	.ad-btn {
		height: 30px;
		padding: 0 5px;
	}
}
