$danger-color: #f2632b;
$info-color: #35b5df;
$primary-color: #446cb3;
$success-color: #87bd2a;
$warning-color: #f7ca18;
$black-color: #303e48;
$light-gray-color: #d1d1d1;
$gray-color: #6c7479;
$white-color: #fff;
