$logo-primary-color: $info-color;
$logo-secondary-color: $light-gray-color;
$logo-secondary-color-hover: $gray-color;

.ad-top-logo {
  cursor: pointer;
  display: inline-block;

  h1 {
    color: $logo-primary-color;
    margin: 0;

    span {
      color: $logo-secondary-color;
    }

    &:hover span {
      color: $logo-secondary-color-hover;
    }
  }
}
